{% extends "layout.html" %}

{% block title %}首页 {% endblock %}


{% block body %}

    <div class="container-fluid" style="width:100%;padding:0 0 0 0px;">
        <div class="col-md-12" style="height: 500px;">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><p style="display: none;">质量求生存，开拓谋发展</p><img width="100%" height="500px" src="{{ url_for("static",filename='img/bg.jpg') }}" /></div>
                <div class="swiper-slide"><img width="100%" height="500px" src="{{ url_for("static",filename='img/盐湖.jpg') }}" /></div>
                <div class="swiper-slide"><img width="100%" height="500px" src="{{ url_for("static",filename='img/贵州梵净山.jpg') }}" /></div>
            </div>
        </div>
    </div>
        <div class="jumbotron" style="margin-top: 0px;padding-top: 5px;">
            <h1>烟台广恩达包装材料有限公司</h1>
            <!-- <p class="lead"> 塑料袋（Plastic
                bags）是以塑料（常用塑料有聚丙烯、聚酯、尼龙等）为主要原料制成的袋子，是人们日常生活中必不可少的物品，常被用来装其他物品。因其廉价、重量极轻、容量大、便于收纳的优点被广泛使用，但又因为塑料袋降解周期极长、处理困难的缺点而被部分国家禁止生产和使用。</p> -->
        </div>
    </div>
    <script>
        var mySwiper = new Swiper('.swiper-container', {
            loop: true, // 循环模式选项
            autoplay: true,
            // 如果需要滚动条
            scrollbar: {
                el: '.swiper-scrollbar',
                hide: true
            }
        }) 
    </script>
{% endblock %}
