{% extends "layout.html" %}

{% block title %}首页 {% endblock %}


{% block body %}

    <div class="container-fluid" style="width:100%;padding:0 0 0 0px;">
        <img src="{{ url_for("static",filename='img/bg.jpg') }}" style="max-width:100%;margin: 0 auto">
        <div class="jumbotron" style="margin-top: 0px;padding-top: 5px;">
            <h1>塑料袋</h1>
            <p class="lead"> 塑料袋（Plastic
                bags）是以塑料（常用塑料有聚丙烯、聚酯、尼龙等）为主要原料制成的袋子，是人们日常生活中必不可少的物品，常被用来装其他物品。因其廉价、重量极轻、容量大、便于收纳的优点被广泛使用，但又因为塑料袋降解周期极长、处理困难的缺点而被部分国家禁止生产和使用。</p>
        </div>
    </div>

{% endblock %}
