{% extends "layout.html" %}

{% block title %} 烟台广恩达包装材料有限公司 {% endblock %}

{% block body %}

    <div class="container" style="margin-top: 70px;">
        
        <img src="{{ url_for("static",filename='img/title1.jpg') }}" style="max-width:100%;margin: 0 auto">
        <div class="col-md-3 left">
            <ul class="page_menu"><span style="font-size: 25px;">公司介绍</span>
                <li><a href="#" class="list-group-item list-group-item-heading list-group-item-info">公司介绍</a></li>
            </ul>
        </div>
        <div class="col-md-9 right">
            <p style="font-size: 30px;"> 公司简介</p>
            <p class="lead"> 烟台广恩达包装材料有限公司位于美丽的海滨城市山东烟台招远，成立于1992年，
                注册资本160万美元，占地面积8000平方米，现有员工100多人。</p>
            <p style="font-size: 30px;"> 公司业务</p>
            <p class="lead"> 公司主要以生产、印刷PE、PP、BOPP包装袋（包括购物、连卷、连背、食品以及沥水袋、异型袋等包装袋）为主，
                年生产能力3200吨，产品主要销往日本、欧、美等国家。产品主体以发达国家高端连锁超市为主，年出口创五百多万美元，
                连续多年被评为出口创汇先进企业。 我公司以“质量求生存，开拓谋发展”的服务宗旨，努力开拓国内超市市场。
                多年来我们与各大购物商场保持良好的合作关系，年销售额<b>3000</b>多万元，并以一流的产品质量和信誉赢得了客户的信赖。</p>
        </div>
    </div>
{% endblock %}