<!DOCTYPE html>

<title>{% block title %} 烟台广恩达包装材料有限公司 {% endblock %} </title>
<link rel="icon" type="image/x-ico" href="{{ url_for("static",filename='img/icon.ico') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for("static",filename='css/bootstrap.min.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for("static",filename='css/bootstrap-theme.min.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for("static",filename='css/swiper.min.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for("static",filename='css/basic.css') }}">
<!-- jQuery在bootstrap.min.js -->
<script src="{{ url_for("static",filename='js/jquery-1.12.1.min.js') }}"></script>
<script src="{{ url_for("static",filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for("static",filename='js/jquery.cookie.js') }}"></script>
<script src="{{ url_for("static",filename='js/swiper.min.js') }}"></script>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

{% block head %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <a class="navbar-brand" href="/">
                    <p style="font-weight: 900;color:white;float: left">烟台广恩达包装材料有限公司</p>
                </a>
                <ul class="nav navbar-nav">
                    <li id="navbar_home"><a href="/home">首页</a></li>
                    <li id="navbar_home"><a href="/info/work">公司介绍</a></li>
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">公司介绍<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/info/work">公司介绍</a></li>
                        </ul>
                    </li> -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">产品介绍<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/products/1">垃圾袋</a>
                            </li>
                            <li>
                                <a href="/products/2">彩盒食品袋</a>
                            </li>
                            <li>
                                <a href="/products/3">打孔水切袋</a>
                            </li>
                            <li>
                                <a href="/products/4">规格袋</a>
                            </li>
                            <li>
                                <a href="/products/5">湿巾</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/devices">公司环境</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">技术支持<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/support/1">售后服务</a>
                            </li>
                            <li>
                                <a href="/support/2">常见问题</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/contact">联系我们</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id='myModal' class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">友情提示</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning " role="alert" id="modal-alert"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for("static",filename='js/layout.js') }}"></script>

{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
    <footer>
        <P>烟台广恩达包装材料有限公司</P>
        <P>全国服务热线 13562556820   0535-8224081</P>
        <P>山东省烟台市招远市大秦家街道办事处驻地</P>
    </footer>
{% endblock %}
