{% extends "layout.html" %}

{% block title %} 技术支持 {% endblock %}

{% block body %}
<div class="container" style="margin-top: 70px;">
    <img src="{{ url_for("static",filename='img/3.png') }}" style="max-width:100%;margin: 0 auto">
    <div class="col-md-3 left">
        <ul class="qw"><span style="font-size: 25px;">技术支持</span>
            <li><a href="#anchor1" id="1"
                    class="list-group-item list-group-item-heading list-group-item-info">售后服务</a></li>
            <li><a href="#anchor1" id="2"
                    class="list-group-item list-group-item-heading list-group-item-info">常见问题</a></li>
        </ul>
    </div>
    <a name="anchor1"></a>
    <span id="support1" class="support">
        <p class="lead"> 电话 0535-8224081</p>
    </span>
    <span id="support2" class="support" style="display: none;">
    </span>
</div>

<script>
    $().ready(function () {
        var type = {{id}};
        supportShow(type);
    });
    $(".qw li a").click(function () {
        var type = $(this).attr('id');
        supportShow(type);
    });

    function supportShow(type) {
        $('.support').hide();
        $('#support' + type).show();
    }
</script>
{% endblock %}