{% extends "layout.html" %}

{% block title %} 舆情大盘 {% endblock %}

{% block body %}
    <div class="container" style="margin-top: 70px">
        <div class="row col-md-offset">

            <div class="col-md-10 col-md-offset-1">
                <ol class="breadcrumb">
                    <li class="active">年度舆情热度分析</li>
                </ol>
                <div id="month_summary" style="width:90%;margin: 0 auto"></div>
            </div>

            <div class="col-md-5 col-md-offset-1">
                <ol class="breadcrumb">
                    <li class="active">网贷平台分布分析</li>
                </ol>
                <div id="industry_areas" style="width:100%;margin: 0 auto"></div>
                <br>
            </div>

             <div class="col-md-5">
                <ol class="breadcrumb">
                    <li class="active">投资借款人数状况分析</li>
                </ol>
                <div id="industry_hot_people" style="width:100%;margin: 0 auto"></div>
                 <br>
            </div>

             <div class="col-md-5 col-md-offset-1">
                <ol class="breadcrumb">
                    <li class="active">投资借款金额状况分析</li>
                </ol>
                <div id="industry_hot_money" style="width:100%;margin: 0 auto"></div>
                 <br>
            </div>

            <div class="col-md-5">
                <ol class="breadcrumb">
                    <li class="active">综合利率分析</li>
                </ol>
                <div id="industry_interest" style="width:100%;margin: 0 auto"></div>
                <br>
            </div>

        </div>
    </div>

    <script src="{{ url_for("static",filename='js/echarts-all-2.2.7.js') }}"></script>
    <script src="{{ url_for("static",filename='js/p2p/yqdp_charts.js') }}"></script>

{% endblock %}