.layout_footer{
    margin-top: 10px;
    text-align: center;
    background-color: darkgray;
}

.dropdown ul{
    background-color: #6b6b6b;
}
.dropdown ul li a{
    color:#d67d22
}

.left{
    padding-top: 50px;
    font-size: 20px;
}
.right{
    padding-top: 50px;
}

.detail_image{
    padding-top: 10px;
}