{% extends "detail_header.html" %}

{% block body %}

    <!-- 显示导航栏 -->
    <div class="container" style="margin-top: 70px" >
        <ol class="breadcrumb">
            <li><a href="/detail">平台详情</a></li>
            <li class="active">{{ data_info.platform_name }}</li>
        </ol>
    </div>

    <!-- 显示内容 -->
    <div class="container" >


        <h1 >
            <img src="{{ url_for("static",filename='img/detail.png') }}" style="width:48px;height:48px;">
            {{ data_info.platform_name }}</h1>
        <hr>

        <div class="row">

            <div class="col-sm-12 ">
                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h3 class="panel-title">基本信息</h3>
                    </div>

                    <div class="panel-body">

                        <dl class="dl-horizontal" style="font-size: larger">
                            <dt>类型</dt><dd>{{ data_info.platform_type}}</dd>
                            <dt>公司</dt><dd>{{ data_info.company}}</dd>
                            <dt>状态</dt><dd>{{ data_info.platform_status}}</dd>
                            <dt>最少投资</dt><dd>{{ data_info.need_invest}}</dd>
                            <dt>预期收益</dt><dd>{{ data_info.prospect_earn}}</dd>
                            <dt>来源</dt><dd>{{ data_info.source}}</dd>
                            <dt>链接</dt><dd>{{ data_info.source_url}}</dd>
                        </dl>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 ">
                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h3 class="panel-title">运行情况</h3>
                    </div>

                    <div class="panel-body">


                    </div>
                </div>
            </div>

            <div class="col-sm-12 ">
                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h3 class="panel-title">用户评论</h3>
                    </div>

                    <div class="panel-body">


                    </div>
                </div>
            </div>



        </div>
    </div>


{% endblock %}