{% extends "layout.html" %}

{% block title %} 平台详情 {% endblock %}

{% block head %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <a class="navbar-brand"><p style="font-weight: 900;color:white;">昆仑镜</p></a>
                <ul class="nav navbar-nav">
                    <li><a href="/home">首页</a></li>
                    <li><a href="/info">资讯</a></li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">平台详情 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/detail/navigation">导航</a></li>
                            <li><a href="/detail/rank">排行榜</a></li>
                            <li><a href="/detail/problem">问题平台</a></li>
                        </ul>
                    </li>
                    <li><a href="/data#industry_areas">行业数据</a></li>
                    <li><a href="/search">图谱搜索</a></li>
                    <li><a href="/invest">投资顾问</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}