{% extends "layout.html" %}

{% block title %} 平台详情 {% endblock %}

{% block head %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <a class="navbar-brand"><p style="font-weight: 900;color:white;">昆仑镜</p></a>
                <ul class="nav navbar-nav">
                    <li><a href="/home">首页</a></li>
                    <li><a href="/info">资讯</a></li>
                    <li class="active"><a href="/detail">平台详情</a></li>
                    <li><a href="/data#industry_badplatform">行业数据</a></li>
                    <li><a href="/search">图谱搜索</a></li>
                    <li><a href="/invest">投资顾问</a></li>
                </ul>
            </div>
        </div>
    </nav>
{%endblock %}