{% extends "detail_header.html" %}

{% block body %}

    <!-- 显示导航栏 -->
    <div class="container" style="margin-top: 70px" >
        <ol class="breadcrumb">
            <li><a href="/detail">平台详情</a></li>
            <li class="active">{{ data_info.platform_name }}</li>
        </ol>
    </div>

    <!-- 显示内容 -->
    <div class="container" >


        <h1 >
            <img src="{{ url_for("static",filename='img/detail.png') }}" style="width:48px;height:48px;">
            {{ data_info.platform_name }}</h1>
        <hr>

        <div class="row">

            <div class="col-sm-5 " >
                <div class="panel panel-info" style="height:300px ">

                    <div class="panel-heading">
                        <h3 class="panel-title">基本信息</h3>
                    </div>

                    <div class="panel-body">

                        <dl class="dl-horizontal" style="font-size: larger">
                            <dt>评级</dt><dd>{{ data_info.platform_rank}}</dd>
                            <dt>人气指数</dt><dd>{{ data_info.platform_index}}</dd>
                            <dt>平均收益</dt><dd>{{ data_info.platform_earn}}</dd>
                            <dt>平台背景</dt><dd>{{ data_info.platform_background}}</dd>
                            <dt>上线时间</dt><dd>{{ data_info.platform_time}}</dd>
                            <dt>平均利率</dt><dd>{{ data_info.platform_rate}}</dd>
                            <dt>成交量</dt><dd>{{ data_info.platform_volume}}</dd>
                            <dt>平均借款期限</dt><dd>{{ data_info.platform_borrowing_period}}</dd>
                            <dt>累计待还金额</dt><dd>{{ data_info.platform_need_return}}</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="col-sm-7 " >
                <div class="panel panel-info" style="height:300px ">

                    <div class="panel-heading">
                        <h3 class="panel-title">运行情况</h3>
                    </div>

                    <div class="panel-body">


                    </div>
                </div>
            </div>

            <div class="col-sm-12 ">
                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h3 class="panel-title">用户评论</h3>
                    </div>

                    <div class="panel-body">


                    </div>
                </div>
            </div>



        </div>
    </div>


{% endblock %}