{% extends "detail_info.html" %}

{% block body %}

    <div class="container" style="margin-top: 70px;">

        <div class="row">
            <div class="col-md-12" >

                <p><strong>共<span id="platform_num">0</span>条记录</strong></p>
                <table class="table table-hover">
                    <thead>
                    <tr></tr>
                    <tr class="info">
                        <th>编号</th>
                        <th>平台名称</th>

                        <th>
                            <div class="dropdown" >
                                人气指数
                           <span  class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                    <li onclick="platform_sort('人气指数','1')" style="cursor:pointer"><a>递增排序</a></li>
                                    <li onclick="platform_sort('人气指数','-1')" style="cursor:pointer"><a>递减排序</a></li>
                                </ul>
                            </div>
                        </th>

                        <th>
                            <div class="dropdown" >
                                评级
                           <span  class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                    <li onclick="platform_sort('评级','1')" style="cursor:pointer"><a>递增排序</a></li>
                                    <li onclick="platform_sort('评级','-1')" style="cursor:pointer"><a>递减排序</a></li>
                                </ul>
                            </div>
                        </th>


                        <th>
                            <div class="dropdown" >
                                平均收益
                           <span  class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                    <li onclick="platform_sort('平均收益','1')" style="cursor:pointer"><a>递增排序</a></li>
                                    <li onclick="platform_sort('平均收益','-1')" style="cursor:pointer"><a>递减排序</a></li>
                                </ul>
                            </div>
                        </th>
                        <th>平台背景</th>
                        <th>
                            <div class="dropdown" >
                                上线时间
                           <span  class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                    <li onclick="platform_sort('上线时间','1')" style="cursor:pointer"><a>递增排序</a></li>
                                    <li onclick="platform_sort('上线时间','-1')" style="cursor:pointer"><a>递减排序</a></li>
                                </ul>
                            </div>
                        </th>

                        <th>
                             <div class="dropdown" >
                                平均利率
                           <span  class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                    <li onclick="platform_sort('平均利率','1')" style="cursor:pointer"><a>递增排序</a></li>
                                    <li onclick="platform_sort('平均利率','-1')" style="cursor:pointer"><a>递减排序</a></li>
                                </ul>
                            </div>

                        </th>
                        <th>
                          <div class="dropdown" >
                                成交量
                           <span  class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                    <li onclick="platform_sort('成交量','1')" style="cursor:pointer"><a>递增排序</a></li>
                                    <li onclick="platform_sort('成交量','-1')" style="cursor:pointer"><a>递减排序</a></li>
                                </ul>
                            </div>

                        </th>
                        <th>
                         <div class="dropdown" >
                                平均借款期限
                           <span  class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                    <li onclick="platform_sort('平均借款期限','1')" style="cursor:pointer"><a>递增排序</a></li>
                                    <li onclick="platform_sort('平均借款期限','-1')" style="cursor:pointer"><a>递减排序</a></li>
                                </ul>
                            </div>


                        </th>
                        <th>
                         <div class="dropdown" >
                                累计待还金额
                           <span  class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                    <li onclick="platform_sort('累计待还金额','1')" style="cursor:pointer"><a>递增排序</a></li>
                                    <li onclick="platform_sort('累计待还金额','-1')" style="cursor:pointer"><a>递减排序</a></li>
                                </ul>
                            </div>

                        </th>

                    </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>

                <script>

                    // 数据缓存
                    var data_info;

                    $(document).ready(function(){
                        $.getJSON("/detail/platforms", function(data){
                            data_info = data.platforms;
                            $("#platform_num").text(data_info.length);
                            platform_sort('人气指数','-1');
                            show_data(data_info);
                        });
                    });

                    function show_data(data_info) {
                        $("tbody").html(""); // 清空
                        for (var i = 0; i < data_info.length; ++i) { // 逐个渲染
                            var info = data_info[i];
                            $("tbody").append("<tr>" +
                                    "<td>" + (i + 1) + "</td>" +
                                    "<td> <a href= '/detail/platform/" + info.platform_name + "'><span class='glyphicon glyphicon-link'></span>&nbsp;" + info.platform_name + "</a></td>" +
                                    "<td>" + info.platform_index + "</td>" +
                                    "<td>" + info.platform_rank + "</td>" +
                                    "<td>" + info.platform_earn + "</td>" +
                                    "<td>" + info.platform_background + "</td>" +
                                    "<td>" + info.platform_time + "</td>" +
                                    "<td>" + info.platform_rate + "</td>" +
                                    "<td>" + info.platform_volume + "</td>" +
                                    "<td>" + info.platform_borrowing_period + "</td>" +
                                    "<td>" + info.platform_need_return + "</td>"+
                                    "</tr>"
                            );
                        }
                    }

                    function rankToVal(rank){
                        if(rank=="A+")
                                return 10;
                        else if(rank=="A")
                            return 9;
                          else if(rank=="A-")
                            return 8;
                          else if(rank=="B+")
                            return 7;
                          else if(rank=="B")
                            return 6;
                          else if(rank=="B-")
                            return 5;
                          else if(rank=="C+")
                            return 4;
                          else if(rank=="C")
                            return 3;
                          else if(rank=="C-")
                            return 2;


                    }

                    function platform_sort(tag,updown){

                        if(tag=='人气指数'){
                            data_info.sort(
                                    function(d1,d2) {
                                       if(d1.platform_index.length==0)
                                            return 1;
                                       if(d2.platform_index.length==0)
                                                return -1;
                                        return (d1.platform_index-d2.platform_index)*updown;
                                    }
                            );
                        }else if(tag=='评级'){
                            data_info.sort(
                                    function(d1,d2) {
                                           if(d1.platform_rank.length==0)
                                            return 1;
                                       if(d2.platform_rank.length==0)
                                                return -1;
                                        var r1 = rankToVal(d1.platform_rank);
                                        var r2 = rankToVal(d2.platform_rank);
                                        return (r1-r2)*updown;
                                    }
                            );

                        }else if(tag=='平均收益'){
                            data_info.sort(
                                    function(d1,d2) {
                                        if(d1.platform_earn.length==0)
                                            return 1;
                                        if(d2.platform_earn.length==0)
                                                return -1;
                                        var r1 =  d1.platform_earn.substr(0, d1.platform_earn.length-1); // 获取子字符串
                                        var r2 =  d2.platform_earn.substr(0, d2.platform_earn.length-1); // 获取子字符串
                                        return (parseFloat(r1) - parseFloat(r2))*updown;
                                    }
                            );
                        }else if(tag=='上线时间'){
                            data_info.sort(

                                    function(d1,d2) {
                                       if(d1.platform_time.length==0)
                                            return 1;
                                       if(d2.platform_time.length==0)
                                                return -1;
                                        str1 = d1.platform_time.replace(/-/g,"/");
                                        str2 = d2.platform_time.replace(/-/g,"/");
                                        var date1 = new Date(str1);
                                        var date2 = new Date(str2);
                                        var value = 1;
                                        if( date1<date2)
                                                value = -1;
                                        return value * updown;

                                    }
                            );
                        }else if(tag=="平均利率"){
                             data_info.sort(
                                    function(d1,d2) {
                                        if(d1.platform_rate.length==0)
                                            return 1;
                                        if(d2.platform_rate.length==0)
                                                return -1;
                                        var r1 =  d1.platform_rate.substr(0, d1.platform_rate.length-1); // 获取子字符串
                                        var r2 =  d2.platform_rate.substr(0, d2.platform_rate.length-1); // 获取子字符串
                                        return (parseFloat(r1) - parseFloat(r2))*updown;
                                    }
                            );
                        }else if(tag=="成交量"){
                             data_info.sort(
                                    function(d1,d2) {
                                        if(d1.platform_volume.length==0)
                                            return 1;
                                        if(d2.platform_volume.length==0)
                                                return -1;
                                        var r1 =  d1.platform_volume.substr(0, d1.platform_volume.length-2); // 获取子字符串
                                        var r2 =  d2.platform_volume.substr(0, d2.platform_volume.length-2); // 获取子字符串
                                        return (parseFloat(r1) - parseFloat(r2))*updown;
                                    }
                            );
                        }else if(tag=='平均借款期限'){
                             data_info.sort(
                                    function(d1,d2) {
                                        if(d1.platform_borrowing_period.length==0)
                                            return 1;
                                        if(d2.platform_borrowing_period.length==0)
                                                return -1;
                                        var r1 =  d1.platform_borrowing_period.substr(0, d1.platform_borrowing_period.length-1); // 获取子字符串
                                        var r2 =  d2.platform_borrowing_period.substr(0, d2.platform_borrowing_period.length-1); // 获取子字符串
                                        return (parseFloat(r1) - parseFloat(r2))*updown;
                                    }
                            );
                        }else if(tag=='累计待还金额'){
                             data_info.sort(
                                    function(d1,d2) {
                                        if(d1.platform_need_return.length==0)
                                            return 1;
                                        if(d2.platform_need_return.length==0)
                                                return -1;
                                        var r1 =  d1.platform_need_return.substr(0, d1.platform_need_return.length-2); // 获取子字符串
                                        var r2 =  d2.platform_need_return.substr(0, d2.platform_need_return.length-2); // 获取子字符串
                                        return (parseFloat(r1) - parseFloat(r2))*updown;
                                    }
                            );
                        }

                           show_data(data_info);
                            return;
                    }
                </script>

            </div>

        </div>

    </div>

{% endblock %}