{% extends "detail_info.html" %}

{% block body %}

    <div class="container" style="margin-top: 80px;">

    <div class="row">

  <div class="col-md-4" >
    <div class="input-group">
      <input type="text" class="form-control" placeholder="请输入平台名称">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">开始查找</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

<br>
<br>
<br>


        <div class="col-md-12" >
            <table class="table table-hover">
                <thead>
                <tr></tr>
                <tr class="info">
                    <th>排名</th>
                    <th>平台名称</th>
                    <th>评级</th>
                    <th>平均收益</th>
                    <th>上线时间</th>
                    <th>平台背景</th>
                    <th>
                        <div class="dropdown" >
                                人气指数
                           <span  class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                <li><a>递增排序</a></li>
                                <li><a>递减排序</a></li>
                            </ul>
                        </div>
                    </th>
                    <th>
                     <div class="dropdown" >
                                排名
                           <span  class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                <li><a>递增排序</a></li>
                                <li><a>递减排序</a></li>
                            </ul>
                        </div>

                    </th>
                    <th>
                    <div class="dropdown" >
                               成交量（万元）
                           <span  class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                <li><a>递增排序</a></li>
                                <li><a>递减排序</a></li>
                            </ul>
                        </div>
                    </th>
                    <th>平均利率</th>
                    <th>平均借款期限（月）</th>
                    <th>累计待款金额（万元）</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>  <a href= "/detail/paltform_id" >陆金所</a></td>
                    <td>A</td>
                    <td>6.82%</td>
                    <td>2012-03-02</td>
                    <td>上市公司</td>
                    <td>100</td>
                    <td>15</td>
                    <td>5815.97</td>
                    <td>7.44%</td>
                    <td>22.94</td>
                    <td>3663421.73</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>陆金所</td>
                    <td>A</td>
                    <td>6.82%</td>
                    <td>2012-03-02</td>
                    <td>上市公司</td>
                    <td>100</td>
                    <td>15</td>
                    <td>5815.97</td>
                    <td>7.44%</td>
                    <td>22.94</td>
                    <td>3663421.73</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>陆金所</td>
                    <td>A</td>
                    <td>6.82%</td>
                    <td>2012-03-02</td>
                    <td>上市公司</td>
                    <td>100</td>
                    <td>15</td>
                    <td>5815.97</td>
                    <td>7.44%</td>
                    <td>22.94</td>
                    <td>3663421.73</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>陆金所</td>
                    <td>A</td>
                    <td>6.82%</td>
                    <td>2012-03-02</td>
                    <td>上市公司</td>
                    <td>100</td>
                    <td>15</td>
                    <td>5815.97</td>
                    <td>7.44%</td>
                    <td>22.94</td>
                    <td>3663421.73</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>陆金所</td>
                    <td>A</td>
                    <td>6.82%</td>
                    <td>2012-03-02</td>
                    <td>上市公司</td>
                    <td>100</td>
                    <td>15</td>
                    <td>5815.97</td>
                    <td>7.44%</td>
                    <td>22.94</td>
                    <td>3663421.73</td>
                </tr>


                </tbody>
            </table>
        </div>

      </div>
 </div>


{% endblock %}