{% extends "layout.html" %}

{% block title %} 个人中心 {% endblock %}

{% block body %}
    <div class="container" style="margin-top: 70px">
        <div class="row ">
                 <div class="col-md-10 col-md-offset-1">
                <ol class="breadcrumb alert-info">
                    <li class="active">尊敬的 <span id="welcome_username"></span> , 欢迎您来到个人中心</li>
                </ol>
            </div>


            <div class="col-md-7 col-md-offset-1" id="select_platform_names_div">
                <div><a class="list-group-item list-group-item-heading list-group-item-warning">
                    <strong>提示 : </strong> 最多可关注三个平台，点击平台名称可以切换，点击
                    <span class='glyphicon glyphicon-minus'></span>
                    可删除，右侧输入框可以添加平台。
                </a></div>
                <br>
                <div id="selecet_platform_names"></div>
            </div>

            <div class="col-md-3" id="select_div">
                <div class="input-group">
                    <input id="input_name" type="text" class="form-control" onKeyUp="update_show_list()" placeholder="请输入要关注的平台名称">
                    <span class="input-group-btn">
                        <button class="btn btn-info" style="opacity: 0.9" type="button" onclick="add_interested_platform()">添加</button>
                    </span>
                </div>
                <br>
                <div id="platform_name_list" class="list-group"></div>
            </div>

        </div>
    </div>

    <script src="{{ url_for("static",filename='js/echarts-all-2.2.7.js') }}"></script>
    <script src="{{ url_for("static",filename='js/p2p/grzx.js') }}"></script>

{% endblock %}