{% extends "layout.html" %}

{% block title %} 投资顾问 {% endblock %}

{% block head %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <a class="navbar-brand"><p style="font-weight: 900;color:white;">网贷专家</p></a>
                <ul class="nav navbar-nav">
                    <li><a href="/home">首页</a></li>
                    <li><a href="/news">资讯</a></li>
                    <li><a href="/detail">平台详情</a></li>
                    <li><a href="/data#industry_badplatform">行业数据</a></li>
                    <li><a href="/search">图谱搜索</a></li>
                    <li class="active"><a href="/invest">投资顾问</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h2>投资性格测试</h2>
            <hr>
            <p>风险偏好和风险承受能力是影响投资的重要因素之一。不同的人的风险偏好和风险承受能力各不相同。只有正确的了解您的投资属性及风险承担能力，才能知道什么样的平台最适合您。</p>

            <p><strong>1、您目前所处的年龄阶段：</strong></p>

            <label class="radio-inline">
                <input type="radio" name="test1" id="optionsRadios1" value="option1" checked > 30岁以下
            </label>

            <label class="radio-inline">
                <input type="radio" name="test1" id="optionsRadios2" value="option2" >  30－39岁
            </label>
            <label class="radio-inline">
                <input type="radio" name="test1" id="optionsRadios3" value="option3" >   40-49岁
            </label>
            <label class="radio-inline">
                <input type="radio" name="test1" id="optionsRadios4" value="option4" >  50-59岁
            </label>
            <label class="radio-inline">
                <input type="radio" name="test1" id="optionsRadios5" value="option5" > 60岁以上
            </label>
            <br>  <br>


            <p><strong>2、您的朋友或同事会以下列哪句话来形容您？</strong></p>
            <div class="radio">
                <label>
                    <input type="radio" name="test2" id="optionsRadios1" value="option1" checked> 您是一个喜欢冒险的人
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test2" id="optionsRadios2" value="option2" > 经仔细考虑后，您会愿意承受风险
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test2" id="optionsRadios2" value="option3" >  您是一个小心、谨慎的人
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test2" id="optionsRadios2" value="option4" >  您从来都不愿承担风险
                </label>

            </div>

            <br>

            <p><strong>3、什么是您目前投资的主要目的？请在以下五个答案中选择最符合您的一个描述：</strong></p>
            <div class="radio">
                <label>
                    <input type="radio" name="test3" id="optionsRadios1" value="option1" checked>希望利用投资以及投资所获得的收益在短期内用于大额的购买计划。
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test3" id="optionsRadios2" value="option2" >  没有具体目标，只想确保资产的安全性，同时希望能够得到固定的收益。
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test3" id="optionsRadios2" value="option2" >   没有具体目标，希望投资能获得一定的增值，同时获得波动适度的年回报
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test3" id="optionsRadios2" value="option2" > 没有具体目标，更倾向于长期的成长，较少关心短期的回报以及波动。
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test3" id="optionsRadios2" value="option2" >   没有具体目标，只关心长期的高回报，能够接受短期的资产价值波动。
                </label>
            </div>

            <br>

            <p><strong>4、假设您参加一项有奖电视智力竞赛节目，并且已经胜出。现在，主持人要求您在以下的获奖方式中做出选择，您会选择：</strong></p>
            <div class="radio">
                <label>
                    <input type="radio" name="test4" id="optionsRadios1" value="option1" checked>  立刻拿到10,000现金
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test4" id="optionsRadios2" value="option2" >   有50%机会赢取50,000现金的抽奖
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test4" id="optionsRadios2" value="option2" >  有25%机会赢取100,000现金的抽奖
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test4" id="optionsRadios2" value="option2" >   有5%机会赢取1,000,000现金的抽奖
                </label>
                <br>  <br>

            </div>




            <p><strong>5、以下哪项描述最符合您对本项投资在未来3年内的表现的态度？</strong></p>
            <div class="radio">
                <label>
                    <input type="radio" name="test5" id="optionsRadios2" value="option2" checked>  如果发生亏损，我并不在乎
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test5" id="optionsRadios2" value="option2" >   我能承受一定程度的亏损
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test5" id="optionsRadios2" value="option2" > 我只能承受较小的亏损
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test5" id="optionsRadios2" value="option2" >    我几乎不能承受任何亏损
                </label>
                <br>  <br>
                <label>
                    <input type="radio" name="test5" id="optionsRadios2" value="option2" > 我需要至少获得一定的收益
                </label>
                <br>  <br>
            </div>



            <p><strong>6、根据您以往投资的经验，当平台的资金被分配到高风险的股票或是其他不确定收益的项目中时，您通常：</strong></p>
            <label class="radio-inline">
                <input type="radio" name="test6" id="optionsRadios2" value="option2" checked> 非常焦虑
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label class="radio-inline">
                <input type="radio" name="test6" id="optionsRadios2" value="option2" >  有一些焦虑
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label class="radio-inline">
                <input type="radio" name="test6" id="optionsRadios2" value="option2" > 完全放心
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;


            <br><br>
            <button id ="submit_btn" class="btn btn-info" type="button" style="height: 40px">提交选项</button>
            <br>
            <hr/>
            <div id="answer" >

            </div>
        </div>



    </div>

    <script>
     $("#submit_btn").click(function(){
     $("#answer").html("<h2>测试结果</h2> " +
             "<p class='text-danger'>经过我们的测试，您属于：中庸型</p>" +
         "<p class='text-danger'>投资者：在任何投资中，在风险较小的情况下获得一定的收益是您主要的投资目的。您通常愿意使本金面临一定的风险，但在做投资决定时，会仔细的对将要面临的风险进行认真的分析。您对风险总是客观存在的道理有清楚的认识。总体来看，愿意承受市场的平均风险。</p>" +
         "<p class='text-danger'>风险承受能力：中</p>" +
         "<p class='text-danger'>获利期待：中等报酬</p>"
         );
                });
</script>
{% endblock %}