{% extends "news_header.html" %}


{% block body %}

    <div class="container" style="margin-top: 60px">

        <div class="row" >
            <div class="col-md-8" >

                <!-- 新闻框 -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width: 760px;height: 400px;">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{{ url_for("static",filename='img/bg_news_1.jpg') }}"  alt="1">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>1经侦式监管恐引发网贷挤兑</h1>
                                    <h4>经侦式监经侦式监管恐引管恐引发网贷挤兑，撤离发撤离要趁早撤离发撤离要趁早</h4>
                                    <p><a class="btn btn-lg btn-primary" href="#" role="button">查看详情</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ url_for("static",filename='img/bg_news_2.jpg') }}" style="width:1140px; height:400px;margin: 0 auto"  alt="1">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>2经侦式监管恐引发网贷挤兑</h1>
                                    <h4>经侦式监经侦式监管恐引管恐引发网贷挤兑，撤离发撤离要趁早撤离发撤离要趁早</h4>
                                    <p><a class="btn btn-lg btn-primary" href="#" role="button">查看详情</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ url_for("static",filename='img/bg_news_3.jpg') }}" style="width:1140px; height:400px;margin: 0 auto"  alt="1">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>3经侦式监管恐引发网贷挤兑</h1>
                                    <h4>经侦式监经侦式监管恐引管恐引发网贷挤兑，撤离发撤离要趁早撤离发撤离要趁早</h4>
                                    <p><a class="btn btn-lg btn-primary" href="#" role="button">查看详情</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ url_for("static",filename='img/bg_news_4.jpg') }}" style="width:1140px; height:400px;margin: 0 auto"  alt="1">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>4经侦式监管恐引发网贷挤兑</h1>
                                    <h4>经侦式监经侦式监管恐引管恐引发网贷挤兑，撤离发撤离要趁早撤离发撤离要趁早</h4>
                                    <p><a class="btn btn-lg btn-primary" href="#" role="button">查看详情</a></p>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-md-4">

              <ul class="nav nav-tabs" role="tablist">
                   <li role="presentation"><a style="font-size: large" > 热点 &nbsp;<span class="glyphicon glyphicon-hand-right"></span></a> </li>

        <li role="presentation" class="active"><a href="#">今日</a></li>
        <li role="presentation"><a href="#">本周</a></li>
        <li role="presentation"><a href="#">本月</a></li>
      </ul>

                    <div c id="cy_tody" style="border:solid  1px lightgrey;height:358px;padding-right: 5px;padding-left: 5px;padding-top: 10px;margin-top: -5px;

                    background: white" >
                    <!--background-image: url({{ url_for('static',filename='img/bg_cy.jpg') }}" -->

                    </div>


            </div>
        </div>

            <!--
                    <div class="col-md-8">
              <div class="list-group" >
                    <a href="#" class="list-group-item active">
                        行业热点
                    </a>
                    <a href= "/news/新闻/p2p观察网/P2P到了最危险的时候了吗？" class="list-group-item">P2P到了最危险的时候了吗？</a>
                    <a href="#" class="list-group-item">经侦式监管恐引发网贷挤兑，撤离要趁早</a>
                    <a href="#" class="list-group-item">戳穿P2P平台风险准备金的七个谎言</a>
                    <a href="#" class="list-group-item">早报：政协委员谈互金发展；互金协会信息试报送；网贷行业进入存量发展阶段</a>
                    <a href="#" class="list-group-item">戳穿P2P平台风险准备金的七个谎言</a>
                    <a href="#" class="list-group-item">早报：政协委员谈互金发展；互金协会信息试报送；网贷行业进入存量发展阶段</a>
                    <a href="#" class="list-group-item">两会委员看互金：一些企业在发疯，但好的一面也要肯定</a>
                   <a href="#" class="list-group-item">早报：政协委员谈互金发展；互金协会信息试报送；网贷行业进入存量发展阶段</a>


                </div>
            </div>-->


        <script src="{{ url_for("static",filename='js/d3.v3.min.js') }}"></script>
    <script>

   var word_data = [
{text:'纽交所',rate:0.591224,url:'/home'},
{text:'宜人贷',rate:0.57686,url:'/home'},
{text:'上市',rate:0.374144,url:'/home'},
{text:'大大',rate:0.367951,url:'/home'},
{text:'三农',rate:0.357485,url:'/home'},
{text:'唐宁',rate:0.329171,url:'/home'},
{text:'责任编辑',rate:0.317821,url:'/home'},
{text:'第一股',rate:0.28271,url:'/home'},
{text:'美元',rate:0.274988,url:'/home'},
{text:'资本',rate:0.268866,url:'/home'},
{text:'融业',rate:0.264587,url:'/home'},
{text:'公告',rate:0.257072,url:'/home'},
{text:'发行价',rate:0.249023,url:'/home'},
{text:'首日',rate:0.249023,url:'/home'},
{text:'e租宝',rate:0.246582,url:'/home'},
{text:'打击',rate:0.238366,url:'/home'},
{text:'破发',rate:0.233459,url:'/home'},
{text:'宜信',rate:0.218986,url:'/home'},
{text:'大量',rate:0.215865,url:'/home'},
{text:'登陆',rate:0.215664,url:'/home'},
{text:'坚决',rate:0.206241,url:'/home'},
{text:'非法',rate:0.205318,url:'/home'},
{text:'铜掌柜',rate:0.202331,url:'/home'},
{text:'集资',rate:0.202314,url:'/home'},
{text:'赵然',rate:0.186767,url:'/home'},
{text:'退赔',rate:0.186767,url:'/home'},
{text:'海外',rate:0.173975,url:'/home'},
{text:'成功',rate:0.171652,url:'/home'},
{text:'PPT',rate:0.171203,url:'/home'},
{text:'资本市场',rate:0.168678,url:'/home'},
{text:'爆料',rate:0.167088,url:'/home'},
{text:'存在',rate:0.162283,url:'/home'},
{text:'集团',rate:0.159361,url:'/home'},
{text:'速报',rate:0.155639,url:'/home'},
{text:'早报',rate:0.155639,url:'/home'},
{text:'HZ002',rate:0.155639,url:'/home'},
{text:'转型',rate:0.15531,url:'/home'},
{text:'暂停',rate:0.154002,url:'/home'},
{text:'用户',rate:0.153971,url:'/home'},
{text:'美国',rate:0.15044,url:'/home'}
  ];

   var size = 48;
    var fill = d3.scale.category20();
   for(var i =0 ;i<word_data.length;++i){
       var word = word_data[i];
       if(size>24)
               size -=2;
       else if(size>12)
               size -=1;
        $("#cy_tody").append("<a href="+word.url+"><span style=font-size:"+size+"px;color:#444 !important;>"+word.text+"</span></a>&nbsp&nbsp");
   }

</script>

<br>


        <div class="row">


            <div class="col-md-6">

              <ul class="nav nav-tabs" role="tablist" id="新闻" >
                <li role="presentation"><a style="font-size: large" > 新闻 &nbsp;<span class="glyphicon glyphicon-hand-right"></span></a> </li>
                      <li role="presentation" class="active"><a href="#">p2p观察网</a></li>
                  <li role="presentation"><a href="#">和讯网</a></li>
                     <li role="presentation"><a href="#">金融之家</a></li>
                   <li role="presentation"><a href="#">网贷之家</a></li>
               </ul>

                <div class="list-group" style="margin-top: -5px">
                    <a href= "/news/新闻/p2p观察网/P2P到了最危险的时候了吗？" class="list-group-item">P2P到了最危险的时候了吗？</a>
                    <a href="#" class="list-group-item">经侦式监管恐引发网贷挤兑，撤离要趁早</a>
                    <a href="#" class="list-group-item">戳穿P2P平台风险准备金的七个谎言</a>
                    <a href="#" class="list-group-item">早报：政协委员谈互金发展；互金协会信息试报送；网贷行业进入存量发展阶段</a>
                    <a href="#" class="list-group-item">两会委员看互金：一些企业在发疯，但好的一面也要肯定</a>
                      <a href="#" class="list-group-item">经侦式监管恐引发网贷挤兑，撤离要趁早</a>
                    <a href="#" class="list-group-item">戳穿P2P平台风险准备金的七个谎言</a>
                    <a href="#" class="list-group-item">早报：政协委员谈互金发展；互金协会信息试报送；网贷行业进入存量发展阶段</a>
                    <a href="#" class="list-group-item">两会委员看互金：一些企业在发疯，但好的一面也要肯定</a>
                    <a  href="/news/行业相关/p2p观察网" class="list-group-item">更多</a>
                </div>
            </div><!-- /.col-sm-4 -->

            <div class="col-md-6">

              <ul class="nav nav-tabs" role="tablist" >

                    <li role="presentation"><a style="font-size: large" > 政策 &nbsp;<span class="glyphicon glyphicon-hand-right"></span></a> </li>
        <li role="presentation" class="active"><a href="#">网贷之家</a></li>
        <li role="presentation"><a href="#">   和讯网</a></li>
        <li role="presentation"><a href="#">金融之家</a></li>
                   <li role="presentation"><a href="#">网贷之家</a></li>
      </ul>



               <div class="list-group" style="margin-top: -5px">

                    <a href= "news/政策/网贷之家/122" class="list-group-item">P2P到了最危险的时候了吗？</a>
                    <a href="#" class="list-group-item">经侦式监管恐引发网贷挤兑，撤离要趁早</a>
                    <a href="#" class="list-group-item">戳穿P2P平台风险准备金的七个谎言</a>
                    <a href="#" class="list-group-item">早报：政协委员谈互金发展；互金协会信息试报送；网贷行业进入存量发展阶段</a>
                    <a href="#" class="list-group-item">两会委员看互金：一些企业在发疯，但好的一面也要肯定</a>
                     <a href="#" class="list-group-item">经侦式监管恐引发网贷挤兑，撤离要趁早</a>
                    <a href="#" class="list-group-item">戳穿P2P平台风险准备金的七个谎言</a>
                    <a href="#" class="list-group-item">早报：政协委员谈互金发展；互金协会信息试报送；网贷行业进入存量发展阶段</a>
                    <a href="#" class="list-group-item">两会委员看互金：一些企业在发疯，但好的一面也要肯定</a>
                    <a href="#" class="list-group-item">更多</a>
                </div>
            </div><!-- /.col-sm-4 -->


        </div>



        <div class="row">

              <div class="col-md-12">

              <ul class="nav nav-tabs" role="tablist" >

                    <li role="presentation"><a style="font-size: large" > 观点 &nbsp;<span class="glyphicon glyphicon-hand-right"></span></a> </li>
        <li role="presentation" class="active"><a href="#">分享</a></li>
        <li role="presentation"><a href="#">   和讯网</a></li>
        <li role="presentation"><a href="#">金融之家</a></li>
                   <li role="presentation"><a href="#">网贷之家</a></li>
      </ul>



               <div class="list-group" style="margin-top: -5px">

                    <a href= "news/政策/网贷之家/122" class="list-group-item">P2P到了最危险的时候了吗？</a>
                    <a href="#" class="list-group-item">经侦式监管恐引发网贷挤兑，撤离要趁早</a>
                    <a href="#" class="list-group-item">戳穿P2P平台风险准备金的七个谎言</a>
                    <a href="#" class="list-group-item">早报：政协委员谈互金发展；互金协会信息试报送；网贷行业进入存量发展阶段</a>
                    <a href="#" class="list-group-item">两会委员看互金：一些企业在发疯，但好的一面也要肯定</a>
                     <a href="#" class="list-group-item">经侦式监管恐引发网贷挤兑，撤离要趁早</a>
                    <a href="#" class="list-group-item">戳穿P2P平台风险准备金的七个谎言</a>
                    <a href="#" class="list-group-item">早报：政协委员谈互金发展；互金协会信息试报送；网贷行业进入存量发展阶段</a>
                    <a href="#" class="list-group-item">两会委员看互金：一些企业在发疯，但好的一面也要肯定</a>
                    <a href="#" class="list-group-item">更多</a>
                </div>
            </div><!-- /.col-sm-4 -->


        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <strong>友情链接</strong><br/><br/>
                    <ul class="list-inline">
                        <li><a title="融360" href="http://www.rong360.com" target="_blank">融360</a></li>
                        <li><a title="理财" href="http://www.rong360.com/licai/" target="_blank">理财</a></li>
                        <li><a title="贷款" href="http://www.rong360.com/daikuan/" target="_blank">贷款</a></li>
                        <li><a title="信用卡" href="http://www.rong360.com/credit/" target="_blank">信用卡</a></li>
                        <li><a title="攻略" href="http://www.rong360.com/gl/" target="_blank">攻略</a></li>
                        <li><a title="问答" href="http://www.rong360.com/ask/" target="_blank">问答</a></li>
                        <li><a title="旅游社区" href="http://bbs.yilvcheng.com" target="_blank">旅游社区</a></li>
                        <li><a title="建材家居" href="http://news.17house.com" target="_blank">建材家居</a></li>
                        <li><a title="掌柜吧" href="http://bbs.tzg.cn/" target="_blank">掌柜吧</a></li>
                        <li><a title="问答平台" href="http://www.wenda114.com/" target="_blank">问答平台</a></li>
                        <li><a title="列表问答" href="http://www.liebiao.com/wenda/" target="_blank">列表问答</a></li>
                        <li><a title="网贷问答" href="http://www.p2peye.com/ask/" target="_blank">网贷问答</a></li>
                        <li><a title="信用卡论坛" href="http://www.9icard.com/" target="_blank">信用卡论坛</a></li>
                        <li><a title="理财平台" href="http://www.qianyilc.com/" target="_blank">理财平台</a></li>
                        <li><a title="证券" href="http://www.zhonghuacaifu.cn/" target="_blank">证券</a></li>
                        <li><a title="广州装修论坛" href="http://homebbs.gz.fang.com/board/gzzxlt/" target="_blank">广州装修论坛</a></li>
                        <li><a title="深圳二手房" href="http://sz.esf.loupan.com/" target="_blank">深圳二手房</a></li>
                        <li><a title="网贷论坛" href="http://www.wangdaiwanjia.com/" target="_blank">网贷论坛</a></li>
                        <li><a title="白银论坛" href="http://bbs.huangjinzhijia.com/" target="_blank">白银论坛</a></li>
                        <li><a title="原油现货投资" href="http://www.oil988.com/" target="_blank">原油现货投资</a></li>
                        <li><a title="专利查询" href="http://patent.1633.com/" target="_blank">专利查询</a></li>
                        <li><a title="外汇开户" href="http://www.niumoney.com/" target="_blank">外汇开户</a></li>
                        <li><a title="伦敦金开户" href="http://www.gold2u.com/" target="_blank">伦敦金开户</a></li>
                        <li><a title="抵押贷款" href="http://ww.bjsudai.com " target="_blank">抵押贷款</a></li>
                        <li><a title="原油交易" href="http://www.in001.com/" target="_blank">原油交易</a></li>
                        <li><a title="P2P理财" href="http://www.newunion.cn/" target="_blank">P2P理财</a></li>
                        <li><a title="南京贷款" href="http://nanjing.rongzi.com/" target="_blank">南京贷款</a></li>
                        <li><a title="p2p网贷" href="http://www.baidaiw.com/" target="_blank">p2p网贷</a></li>
                        <li><a title="沪商财富" href="http://www.hushangcaifu.com" target="_blank">沪商财富</a></li>
                        <li><a title="金银猫" href="http://www.jinyinmao.com.cn/" target="_blank">金银猫</a></li>
                        <li><a title="投资策略" href="http://www.cjyjy.cn/" target="_blank">投资策略</a></li>
                        <li><a title="全讯网" href="http://www.45n.cc/" target="_blank">全讯网</a></li>
                        <li><a title="信用卡大全" href="http://card.dn1234.com/" target="_blank">信用卡大全</a></li>
                        <li><a title="P2P理财论坛" href="http://bbs.xueshandai.com" target="_blank">P2P理财论坛</a></li>
                        <li><a title="网贷东方" href="http://bbs.wangdaidongfang.com/" target="_blank">网贷东方</a></li>
                        <li><a title="汇通评论" href="http://pinglun.fx678.com/" target="_blank">汇通评论</a></li>
                        <li><a title="大学生贷款" href="http://www.xiaoshushidai.com/" target="_blank">大学生贷款</a></li>
                        <li><a title="人人贷" href="http://bbs.we.com/" target="_blank">人人贷</a></li>
                        <li><a title="芒果金融" href="https://www.hnmgjr.com/" target="_blank">芒果金融</a></li>
                    </ul>
                </div>
            </div>





        </div>

  </div>
{% endblock %}