{% extends "news_header.html" %}

{% block body %}

    <script>
        // 页面加载后
        $(document).ready(function(){
            // 处理文本中的换行和空格
            var content =  $("#content").text();
            content = content.replace(new RegExp("#n#","gm"),"<br>");
            content = content.replace(new RegExp(" ","gm"),"&nbsp;")
            $("#content").html(content);
        });
    </script>

    <!-- 显示导航栏 -->
    <div class="container" style="margin-top: 70px" >
        <ol class="breadcrumb">
            <li><a href="/news#{{ data_info.p2p_news_type }}">{{ data_info.p2p_news_type  }}</a></li>
            <li><a href="/news/{{ data_info.p2p_news_type }}/{{ data_info.p2p_news_source  }}">{{ data_info.p2p_news_source  }}</a></li>
            <li class="active">{{ data_info.p2p_news_info.title }}</li>
        </ol>
    </div>

    <!-- 显示新闻内容 -->
    <div class="container" >
        <div class="row">
            <div class="col-sm-12  col-sm-offset-0">
                <div class="jumbotron">
                    <h1 id="title">{{ data_info.p2p_news_info.title }}</h1>
                    <p >
                        作者：<span id="author">{{ data_info.p2p_news_info.author }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        日期：<span id="date">{{ data_info.p2p_news_info.date }}</span><br>
                        网址：<a  id ="url" href="{{ data_info.p2p_news_info.url }}" target="_blank">{{ data_info.p2p_news_info.url }}</a>
                    </p>
                    <p id="content">{{ data_info.p2p_news_info.content }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}