{% extends "layout.html" %}

{% block title %} 图谱搜索 {% endblock %}

{% block body %}

    <div class="container" style="margin-top: 70px">

        <!-- 显示导航栏 -->
        <ol class="breadcrumb">
            <li><a href="/search">图谱搜索</a></li>
            <li class="active">{{ data_info.key_word }}</li>
        </ol>

        <div class="jumbotron">
            <h1>{{ data_info.key_word }}</h1>
            <hr>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;描述部分（示例）：此前，在Facebook上搜索好友是一件痛苦的差事。尽管Facebook提供了搜索栏，但用户很难根据某些条件迅速找到好友。不过，扎克伯格正在测试Facebook将于2013年1月15日发布的一项新功能。这一功能将改变Facebook的用户体验，对竞争对手形成威胁，并可能引起隐私保护组织的抗议。对扎克伯格而言，他需要的搜索条件是“居住在Palo
                Alto附近的普里西拉和我的朋友”。扎克伯格表示：“我们邀请到5个人，他们都喜欢宠物犬。”<br>
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Graph
                Search诞生之前业内观察家一直关注Facebook能否释放网站搜索栏的潜力。谷歌对此尤为关注，因为Facebook的搜索服务能获得谷歌搜索引擎无法获取的大量数据，成为谷歌的重要竞争对手。他们也关注Facebook的搜索产品如何运作。一切都水落石出。Facebook新推出的社交图谱搜索Graph
                Search与传统互联网搜索有着根本的不同。谷歌搜索引擎能检索全球的大量信息，帮助用户寻找问题答案。与此不同，Facebook的搜索服务利用该网站庞大的数据库，帮助用户更好地利用“社交图谱”。根据扎克伯格的描述，社交图谱包括用户与好友和熟人的关系，以及他们喜欢的明星和品牌。<br>
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;在Graph
                Search发布数周前，Facebook高管仍在研究如何命名这一搜索服务。他们希望避免使用“搜索”一词，从而使该服务区别于传统的互联网搜索。例如，在发布的几天前，Facebook一名高管还以“浏览”来称呼该服务。然而在经过几小时讨论后，他们做出了妥协：没有比Graph
                Search更好的名字。扎克伯格表示：“这清楚地阐明这是一款搜索服务。而社交图谱是一件大事。”<br>
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Graph
                Search的理念在于，以谷歌搜索引擎发掘互联网信息的方式，发掘Facebook网站社交图谱的含义。扎克伯格表示：“人们使用搜索引擎去回答问题，而我们可以回答其他人无法回答的许多问题。其他搜索服务主要编目了公开信息，而Facebook的信息并不在此列。这是人们分享的内容。此前没有一种很好的方式去了解人们分享了哪些信息，以满足人类发现信息以及寻找他人的需求。我们可以在这一方面有所作为。我们也是全球唯一有能力做到这一点的公司。”
                结果令人兴奋。这一具有变革意义的产品能帮助用户做许多事，而这些事是用户无法自己去做的。凭借Graph
                Search，人们可以以全新方式去使用Facebook，例如搜索日期、查找招聘信息、寻找一同出游的伙伴，或检索餐厅等商户。更重要的是，Graph
                Search扩展了Facebook的核心使命：不仅帮助用户与已知的他人建立联系，还能成为一款发现工具。<br>
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;扎克伯格表示，Graph
                Search帮助Facebook找回了自己的“根”。他表示：“在建立Facebook之初，我们提供了类似的功能，但仅仅覆盖了你的同学。随后，Facebook一方面关注如何帮你认识周围的新朋友，探索你的社区，一方面也帮助你与已认识的人保持联系。但对于几千人的团队来说，同时关注这两方面存在困难。因此，我们的关注重点从帮助你找到想要的人转向了与已认识的人保持联系。Graph
                Search是一个升级版的发现工具。探索你的社区是人类的核心需求，而这是我们向这一方向迈出的重要一步。”
                这只是许多步中的第一步。Graph Search将根据用户使用该服务的方式持续改进，因此Facebook并不急于全面推出该服务。在发布之初，Graph
                Search仅面向一小部分用户开放。扎克伯格认为，到面向全球上亿用户全面开放时，Graph Search将得到极大的改进。例如扎克伯格认为，Graph
                Search将帮助用户更方便地确定，在宠物犬的生日派对上应当邀请哪些好友。他表示：“我们目前还没有提供‘谁养狗’的选项。”
                Graph Search得到了Facebook的全面支持，项目团队共70人左右。
            </p>
        </div>

    </div>

{% endblock %}