{% extends "layout.html" %}

{% block title %} 图谱搜索 {% endblock %}

{% block head %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <a class="navbar-brand"><p style="font-weight: 900;color:white;">网贷专家</p></a>
                <ul class="nav navbar-nav">
                    <li><a href="/home">首页</a></li>
                    <li><a href="/news">资讯</a></li>
                    <li><a href="/detail">平台详情</a></li>
                    <li><a href="/data#industry_badplatform">行业数据</a></li>
                    <li class="active"><a href="/search">图谱搜索</a></li>
                    <li><a href="/invest">投资顾问</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 80px;">

        <div class="row">

            <div class="col-md-6 col-md-offset-3" >
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入关键字" style="height: 40px">
                     <span class="input-group-btn">
                         <button class="btn btn-primary" type="button" style="height: 40px">开始查找</button>
                      </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->

        </div>



    </div>
{% endblock %}