{% extends "news_header.html" %}

{% block body %}

    <script>
        // 页面加载后
       /* $(document).ready(function () {
            // 处理文本中的换行和空格
            $(".panel-body").each(
                    function () {
                        var content = $(this).text();
                        content = content.replace(new RegExp("#n#", "gm"), "<br>");
                        content = content.replace(new RegExp(" ", "gm"), "&nbsp;")
                        $(this).html(content);
                    }
            )
        });*/
    </script>

    <!-- 显示导航栏 -->
    <div class="container" style="margin-top: 70px">

        <ol class="breadcrumb">
            <li><a href="/news#{{ data_info.p2p_news_type }}">{{ data_info.p2p_news_type }}</a></li>
            <li class="active">{{ data_info.p2p_news_source }}</li>
        </ol>

        <div class="row">
            {% for p2p_news_info in data_info.p2p_news_info_list.values() %}
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href= "/news/{{ data_info.p2p_news_type }}/{{ data_info.p2p_news_source }}/{{ p2p_news_info.id }}" >{{ p2p_news_info.title }} </a></h3>
                        </div>
                        <div class="panel-body">
                            {{ p2p_news_info.abstract }}
                        </div>
                    </div>

                </div>

                 <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ p2p_news_info.title }} </h3>
                        </div>
                        <div class="panel-body">
                            {{ p2p_news_info.abstract }}
                        </div>
                    </div>

                </div>

                 <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ p2p_news_info.title }} </h3>
                        </div>
                        <div class="panel-body">
                            {{ p2p_news_info.abstract }}
                        </div>
                    </div>

                </div>

            {% endfor %}


        </div>

    </div>


{% endblock %}